apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: arc-zeta
resources:
  - ../../../_base
  - service.yaml
namePrefix: zeta-
commonLabels:
  app: zeta
  rho2.identity: arc-zeta
patches:
  - target: { kind: Deployment, name: APPNAME }
    patch: |-
      - op: replace
        path: /metadata/name
        value: observer-api
      - op: replace
        path: /spec/selector/matchLabels/app
        value: zeta
      - op: replace
        path: /spec/template/metadata/labels/app
        value: zeta
      - op: replace
        path: /spec/template/spec/containers/0/name
        value: observer-api
      - op: replace
        path: /spec/template/spec/containers/0/image
        value: silentsage432/observer-api:prod
      - op: replace
        path: /spec/template/spec/containers/1/name
        value: zeta-leaf
      - op: replace
        path: /spec/template/spec/volumes/0/configMap/name
        value: zeta-leaf-config
  - target: { kind: ConfigMap, name: APPNAME-leaf-config }
    patch: |-
      - op: replace
        path: /metadata/name
        value: zeta-leaf-config
      - op: replace
        path: /data/nats.conf
        value: |
          port: 4222
          server_name: "zeta-leaf"
          leafnodes { remotes = [ { url: "nats://${NATS_USER}:${NATS_PASS}@${CHI_HOST}:${CHI_LEAF_PORT}" } ] }
  - target: { kind: CiliumNetworkPolicy, name: APPNAME-egress }
    patch: |-
      - op: replace
        path: /metadata/name
        value: zeta-egress
      - op: replace
        path: /spec/endpointSelector/matchLabels/app
        value: zeta
images:
  - name: REPLACE_APP_IMAGE
    newName: silentsage432/observer-api
    newTag: prod
configMapGenerator: []
