@import "./styles/designTokens.css";
@import "./styles/globalSurfaces.css";
@import "./styles/typography.css";
@import "./styles/panelStyles.css";
@import "./styles/interactiveElements.css";
@import "./styles/navigationFrame.css";
@import "./styles/terminalStyles.css";
@import "./styles/microMotion.css";
@import "./styles/statusTokens.css";
@import "./styles/statusStyles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
