@import "./styles/designTokens.css";
@import "./styles/globalSurfaces.css";
@import "./styles/typography.css";
@import "./styles/panelStyles.css";
@import "./styles/interactiveElements.css";
@import "./styles/navigationFrame.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
