@import "./styles/visualFoundation.css";
@import "./styles/componentStyling.css";
@import "./styles/atmosphericLayer.css";
@import "./styles/spacingRhythm.css";
@import "./styles/materialRefinement.css";
@import "./styles/microContrast.css";
@import "./styles/accentActivation.css";
@import "./styles/cinematicAmbient.css";
@import "./styles/luminousAccentDepth.css";
@import "./styles/interactiveMicroResponse.css";
@import "./styles/luminousEnvironment.css";
@import "./styles/cinematicPulse.css";
@import "./styles/reactiveAccent.css";
@import "./styles/dynamicEnvironment.css";
@import "./styles/structuralIllumination.css";
@import "./layout/sageLayout.css";
@import "./layout/sageLayoutActive.css";
@import "./styles/panelSpatialIdentity.css";
@import "./styles/designTokens.css";
@import "./styles/globalSurfaces.css";
@import "./styles/typography.css";
@import "./styles/panelStyles.css";
@import "./styles/interactiveElements.css";
@import "./styles/navigationFrame.css";
@import "./styles/terminalStyles.css";
@import "./styles/microMotion.css";
@import "./styles/statusTokens.css";
@import "./styles/statusStyles.css";
@import "./styles/resonanceStyles.css";
@import "./styles/adaptiveSurfaces.css";
@import "./styles/inputStyles.css";
@import "./styles/cardStyles.css";
@import "./styles/layoutUtilities.css";
@import "./styles/iconography.css";
@import "./styles/notificationStyles.css";
@import "./styles/cohesionStyles.css";
@import "./styles/consistencyLock.css";
@import "./styles/spectralInteraction.css";
@import "./styles/arcaneMotion.css";
@import "./styles/cinematicTransitions.css";
@import "./styles/sageIdentity.css";
@import "./styles/autonomousPresence.css";
@import "./styles/ambientHarmonization.css";
@import "./styles/microFeedback.css";
@import "./styles/adaptiveModulation.css";
@import "./styles/predictiveReadiness.css";
@import "./styles/autonomicStabilization.css";
@import "./styles/cognitiveLinkage.css";
@import "./styles/stateSynchronization.css";
@import "./styles/autoBlending.css";
@import "./styles/softActivation.css";
@import "./styles/activationRules.css";
@import "./styles/regulationGate.css";
@import "./styles/partialActivation.css";
@import "./styles/microAtmosphere.css";
@import "./styles/ambientIdentity.css";
@import "./styles/tonalSeeding.css";
@import "./styles/tonalShift.css";
@import "./styles/tonalEnhancement.css";
@import "./styles/atmosphericEvolution.css";
@import "./styles/environmentCalibration.css";
@import "./styles/atmosphericIntelligence.css";
@import "./styles/atmosphericResponse.css";
@import "./styles/assistedResponse.css";
@import "./styles/contextualResponse.css";
@import "./styles/tieredModulation.css";
@import "./styles/preAutonomousSafeguard.css";
@import "./styles/stateMachineFoundation.css";
@import "./styles/stateShiftInit.css";
@import "./styles/panelActionRuleset.css";
@import "./styles/severityRouting.css";
@import "./styles/activationPathway.css";
@import "./styles/executionVerification.css";
@import "./styles/executionControl.css";
@import "./styles/rollbackSafety.css";
@import "./styles/containmentSafety.css";
@import "./styles/stabilizationLayer.css";
@import "./styles/overrideCheckpoint.css";
@import "./styles/cooldownLayer.css";
@import "./styles/restorationLock.css";
@import "./styles/autonomyHardSeal.css";
@import "./styles/supervisedMode.css";
@import "./styles/autonomousCompletion.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
