apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ../../base
  - configmap.yaml
# NOTE: If you change Corefile, just 'kubectl rollout restart deploy/coredns'
