apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - ../../base
  - configmap.yaml
# If the Corefile changes:
#   kubectl -n kube-system rollout restart deploy/coredns
